<div class='admin-container'
     style="display: flex;
            flex-direction: column;
            font-family: Arial;
            padding: 20px;">
  <div class='approval'
       style="background-color: gold;
              display: flex;
              justify-content: center;
              align-items: center;">
    <h1>
    A new account is requesting for approval.
    </h1>
  </div>
  <div class='trader-information'
       style="display: flex;
              flex-direction: column;
              background-color: black;
              color: white;
              padding: 30px;">

    <div class='individual-info-container'
         style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1>Trader ID:</h1>
      <h1><%= @trader.id %></h1>
    </div>
    <div class='individual-info-container'
         style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1>Username:</h1>
      <h1><%= @trader.username %></h1>
    </div>
    <div class='individual-info-container'
        style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1>First Name:</h1>
      <h1><%= @trader.first_name %></h1>
    </div>
    <div class='individual-info-container'
        style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1>Last Name:</h1>
      <h1><%= @trader.last_name %></h1>
    </div>
    <div class='individual-info-container'
        style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1>Email:</h1>
      <h1><%= @trader.email %></h1>
    </div>
    <div class='individual-info-container'
        style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1>Country:</h1>
      <h1><%= @trader.country %></h1>
    </div>

    <div class="last-text-container"
        style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 10px;">
      <h1 class="text">Approve this trader by logging in to
       <%= link_to "Tradeable.", "http://localhost:3001", target: "_blank" %>
      </h1>
    </div>
  </div>
</div>


